[Desktop Entry]
Name=ucats-b
Comment=Launches the UCATS B data acquisition
Exec=/home/ucats/code/desktop/start-app.sh
Icon=/home/ucats/code/desktop/airplane.png
Terminal=true
Type=Application
Categories=Utility;
Path=/home/ucats/code
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
